
@import 'utils';

@media (min-width: 1400px){

}
@media (max-width: 1400px) {

}

.calendar{
  background-color: white;
  
  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 24px 0;
    max-width: 480px;
    user-select: none;
    margin: auto;
    .icon-wrap{
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 100%;
      padding: 4px;
      &:hover{
        background-color: rgba(99,99,99, 0.1);
      }
      &:active{
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
  .content{
    text-align: center;
    user-select: none;
    .calendar-table{
      display: inline-block;
      th, td{
        font-size: 12pt;
        text-align: center;
        // width: 56px;
        // height: 56px;
        border-radius: 100%;
      }
      th:first-child, td:first-child{
        color: #F50057;
      }
      th:last-child, td:last-child{
        color: $header-theme;
      }
      td.selected{
        background-color: #B2DFDB;
      }
      td[data]{
        cursor: pointer;
      }
      td[data]:hover{
        background-color: #f1f3f5;
      }
      td.selected:hover{
        background-color: #80CBC4;
      }
    }
  }
}

// .calendar{
//   width: 100%;
//   background-color: white;
//   .header{
//     height: 48px;
//     //width: 100%;
//     margin: auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;
//     .icon-wrap{
//       font-size: 0;
//       border-radius: 100%;
//       padding: 4px;
//       &:active{
//         background-color: rgba(0,0,0,0.1);
//       }
//     }
//     .date-display{
//       font-size: 10pt;
//       color: #ff9a3d;
//       font-weight: 800;
//     }
//   }

//   .content{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     user-select: none;
//     .calendar-table{
//       text-align: center;
//       border: 0;
//       th:first-child, td:first-child{
//         color: red;
//       }
//       th:last-child, td:last-child{
//         color: $header-theme;
//       }
//       th{
//         font-size: 10pt;
//       }
//       td{
//         position: relative;
//         font-size: 9pt;
//         border-radius: 100%;
//         z-index:2;
//         transition: background-color 1s;
//         cursor: pointer;
//         &.selected{
//           //background-color: #8BC34A;
//           color: white;
//         }
        
//         &::before{
//           content: '';
//           position: absolute;
//           top: 0;
//           left:0;
//           right: 0;
//           bottom: 0;
//           margin: auto;
//           z-index: 1;
//           //background-color: rgba(0,0,0,0.1);
//           width: 36px;
//           height: 36px;
//           border-radius: 100%;
//         }
//         &[data]{
//           cursor:pointer;
//         }
//         &[data]:active::before, &[data]:hover::before{
//           background-color: rgba(0,0,0,0.05);
//           cursor: pointer;
//         }
//       }
//     }
//   }
// }
// @media (min-width: 721px){
//   .header{
//     width: calc( 70px * 7 + 2px);
//   }
//   .calendar-table{
//     th,td{
//       width: 68px;
//       height: 68px;
//     }
//   }
// }

// @media (min-width: 481px){
//   .header{
//     width: calc( 70px * 7 + 2px);
//   }
//   .calendar-table{
//     th,td{
//       width: 56px;
//       height: 56px;
//     }
//   }
// }
// @media (min-width: 769px) and (max-width: 944px){
//   .header{
//     width: calc( 48px * 7 + 2px);
//   }
//   .calendar-table{
//     th,td{
//       width: 48px;
//       height: 48px;
//     }
//   }
// }
@media (min-width: 481px){
  .header{
    width: calc( 70px * 7 + 2px);
  }
  .calendar-table{
    th,td{
      width: 56px;
      height: 56px;
    }
  }
}
@media (min-width: 421px) and (max-width: 480px) {
  .header{
    width: calc( 62px * 7 + 2px);
  }
  .calendar-table{
    th,td{
      width: 52px;
      height: 52px;
    }
  }
  
}
@media (min-width: 361px) and (max-width: 420px) {
  .header{
    width: calc( 53px * 7 + 2px);
  }
  .calendar-table{
    th,td{
      width: 48px;
      height: 48px;
    }
  }
  
}

@media (max-width: 360px) {
  .header{
    width: calc( 47px * 7 + 2px);
  }
  .calendar-table{
    th,td{
      width: 45px;
      height: 45px;
    }
  }
}

