@import 'utils';
.LoginBox {
    width: 360px;
    height: 420px;
    box-shadow: 2px 2px 10px $oc-gray-2;
    background-color: #fff;
    margin: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    .pane+.pane {
        border-top: 1px solid $oc-gray-2;
    }
    .pane {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 210px;
        cursor: pointer;
        .txt {
            position: absolute;
            font-size: 12pt;
            opacity: 0;
            transform: translateX(120px);
            transition: opacity 1s, transform 1s;
        }
        svg {
            transform: translateX(0px) rotate(0deg);
            transition: transform 1s;
        }
        &:hover {
            .txt {
                opacity: 1;
                transform: translateX(0px);
            }
            svg {
                transform: translateX(-120px) rotate(360deg);
            }
        }
    }
    .pane>svg {}
    .pane:hover>svg {}
}