
@import 'utils';

@media (min-width: 769px){
  .info_container{
    margin-top: 132px;
    padding: 0 16px;
    height: 729px;
  
  }
}
@media (max-width: 768px) {
  .info_container{
    padding: 0;
    height: 100%;
    padding-top: 56px;
  
  }
}

.info_container{
  width: 100%;
  max-width: 1400px;
  //background-color: rgba(0,0,0,0.1);
 //height: 729px;
  
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  align-content:flex-start;
}