
@import 'utils';

@media (min-width: 769px){
  .pane{
    margin-top: 132px;
    flex-direction: row;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    max-height: 720px;
  }
  .record_container{
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .pane{
    padding-top: 56px;
    flex-direction: column;
    //height: 100vh;
  }
  .record_container{
    padding: 0;
    background-color: white;
    height: 100vh;
    margin-bottom: 48px;
  }
}
.record_container{
  width: 100%;
  text-align: center;
  

}

.pane{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  //max-height: 720px;
  background-color: white;
  margin-bottom: 48px;
  .wrap{
    background-color: white;
    text-align: center;
    padding: 16px 4px;
  }
  .wrap:last-child{
    margin-bottom: 48px;
  }

}