
@import 'utils';


@keyframes slidedown{
  0%{
    transform: translateY(-64px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes slideup{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-64px);
    display: none;
  }
}

@media (min-width: 769px){
  .nav-wrap{
    display: block;
    animation: slidedown 0.5s;
  }
}
@media (max-width: 768px) {
  .nav-wrap{
    //display: none;
    animation: slideup 0.5s;
    -webkit-animation-fill-mode:both;
  }
}

.nav-wrap{
  position: fixed;
  z-index: 98;
  top: 64px;
  left: 0;
  right: 0;
  height: 36px;
  background-color: $red2;
  border-bottom: 1px solid #f0f0f0;
  nav{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: auto;
    padding: 0 16px;
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 11pt;
    color: white;
    .menu-wrap{
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      a{
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 100%;
        cursor: pointer;
        &:hover, &.active{
          background-color: rgba(0,0,0,0.1);
        }
        &.active{
          background-color: rgba(0,0,0,0.1);
        }
      }
      a.active{
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}