@import 'utils';

@media (min-width: 769px){
  .item-input{
    display: flex;
  }
}
@media (max-width: 768px) {
  .item-input{
    display: none;
  }
}


$grade1 : #e57373;
$grade2 : #ef5350;
$grade3 : #f44336;
$grade4 : #e53935;
$grade5 : #d32f2f;
$grade6 : #c62828;
$grade7 : #b71c1c;

.list-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  height: 100%;
  overflow: auto;
  padding: 0 8px;
  .list-item + .list-item{
    margin-top: 16px;
  }
  .list-item{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 0px 8px;
    cursor: pointer;
    //transition: all 0.4s;
    // &:hover{
    //   transform: translateX(-6px);
    // }
    .item-header{
      padding: 8px 16px;
      .name{
        font-size: 10pt;
        font-weight: bold;
      }
    }
    .item-input{
      padding: 8px 8px 16px 8px;
      //display: flex;
      flex-direction: row;
      margin: auto;
      .input-wrap{
        flex: 1;
        user-select: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        .name{
          font-size: 10pt;
          //margin: 0 16px ;
          flex: 1;
          text-align: left;
        }
        .input{
          flex: 5;
          border: none;
          border-bottom: 1px solid #f0f0f0;
          padding: 8px 16px;
          min-width: 0;
          outline: none;
          &:focus{
            border-bottom: 1px solid $red1;
          }
          &:focus + .name{
            color: $red1;
          }
          &.half{
            width: 50px;
            position: relative;
          }
        }
      }
      
    }
    .item-content{
      overflow: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-bottom: 8px;
      .tag{
        //min-width: 100px;
        font-size: 9pt;
        padding: 4px 6px;
        //ackground-color: $red1;
        border-radius: 4px;
        color: white;
        &:nth-child(1){
          background-color: $grade1;
        }
        &:nth-child(2){
          background-color: $grade2;
        }
        &:nth-child(3){
          background-color: $grade3;
        }
        &:nth-child(4){
          background-color: $grade4;
        }
        &:nth-child(5){
          background-color: $grade5;
        }
        &:nth-child(6){
          background-color: $grade6;
        }
        &:nth-child(n+7){
          background-color: $grade7;
        }
      }
      .tag+.tag{
        margin-left: 4px;
      }
    }
  }
}


.addBtn{
  background-color: #FF9800;
  border: none;
  color: white;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  margin-bottom: 16px;
}