@import 'styles/base.scss';


.Input{
  position: relative;
  width: 100%;
  //flex:1;
  button{
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    position: absolute;
    padding: 2px;
    border-radius: 7px;
    background-color: #f1f5f9;
    font-size: 0;
  }
  input{
    height: 34px;
    box-sizing: border-box;
    padding: 8px 12px;
    //padding-right: 36px;
    border-radius: 5px;
    border: 1px solid #efefef;
    outline: none;
    width: 100%;
    &:focus{
      border-color: $theme-color
    }
    @each $name, $color in $label-colors {
      &.#{$name} { border-color: $color; color: $color }
    }
  }

}