@import './reset.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
  font-family: 'Noto Sans KR', sans-serif;
  background: #fafafa;
  background: linear-gradient(180deg, #27384F 0%, #161824 100%);
}