@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

$font-stack: 'Noto Sans KR', sans-serif;
$font-patua: 'Patua One', cursive;
$primary-color: #333;

$desktop-max-width: 1280px;




$theme-color: #F76304;
$theme-color-hover: #f55402;
$theme-color-active: #f44401;

$body-color: #f1f5f9;

$label-yellow: #ffee58;
$label-green: #9ccc65;
$label-skyblue: #29b6f6;
$label-blue: #5c6bc0;
$label-purple: #ab47bc;
$label-orange: #ffa726;
$label-brown: #8d6e63;
$label-red: #ef5350;