@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

$font-noto: 'Noto Sans KR', sans-serif;
$font-patua: 'Patua One', cursive;
$primary-color: #333;

$desktop-max-width: 1280px;


$theme-color: #F76304;
$theme-color-hover: #f55402;
$theme-color-active: #f44401;

$body-color: #f1f5f9;

$label-yellow: #fcd639;//#ffee58;
$label-green: #3f9470; //#9ccc65;
$label-skyblue: #29b6f6;
$label-blue: #5c6bc0;
$label-purple: #ab47bc;
$label-orange: #ffa726;
$label-brown: #8d6e63;
$label-red: #c70039; //#ef5350;
$label-black: #353839;
$label-gray: #7a8088;
$label-pink: #eb0b93;

$label-colors: (
  yellow: $label-yellow, 
  green: $label-green, 
  skyblue: $label-skyblue, 
  blue: $label-blue, 
  purple: $label-purple, 
  orange: $label-orange, 
  brown: $label-brown, 
  red: $label-red,
  black: $label-black,
  gray: $label-gray,
  pink: $label-pink,
);




$tag-level-1: #ff7373;
$tag-level-2: #ff6565;
$tag-level-3: #ff5757;
$tag-level-4: #ff4949;
$tag-level-5: #ff4141;
$tag-level-6: #ff3333;
$tag-level-7: #ff2525;
$tag-level-8: #ff1717;
$tag-level-9: #ff0909;
$tag-level-10: #ff0101;
