@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

$font-stack: 'Noto Sans KR', sans-serif;
$font-patua: 'Patua One', cursive;
$primary-color: #333;

$desktop-max-width: 1280px;




$theme-color: #F76304;
$body-color: #f1f5f9;