@import 'utils';

.Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: $theme;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.4s;
  &.hide{
    transform: translateY(-56px);
  }
  .title{
    font-size: 16pt;
    color: white;
    font-family: 'Patua One', cursive;
  }
  .login-icon{
    padding: 8px;
    border-radius: 100%;
    font-size: 0;
    &.selected{
      background-color: rgba(0,0,0,0.1);
    }
  }
}