

@import 'utils';



.IndexList{

  width: 240px;
  height: auto;
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  .header{
    background-color: #FF5722;
    font-size: 10pt;
    padding: 8px 16px;
    color: white;
  }
  .content{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      display: block;
      padding: 12px 16px;
      font-size: 10pt;
      color: #03A9F4;
      cursor: pointer;
      &:hover{
        background: #f0f0f0;
      }
    }
    li+li{
      border-top: 1px solid #f0f0f0;
    }
  }
}