@import 'styles/base.scss';

.IconBtn{
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background-color: #f1f5f9;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16pt;

  &.theme-color{
    background-color: $theme-color;
    &:hover{
      background-color: $theme-color-hover;
    }
    &:active{
      background-color: $theme-color-active;
    }
  }
  &.lg{
    width: 100%;
    height: auto;
    padding: 16px 0;
  }
  &:hover{
    background-color: #f0f1f2;
  }
  &:active{
    background-color: #eaecef;
  }
  img{
    width: 24px;
  }
}