@import 'styles/base.scss';


.WorkoutList{
  flex: 1;
  width: 100%;
  max-width: 520px;
  margin: 16px 0;
  padding: 0px 12px;
  font-family: $font-noto;
  overflow-y: auto;
  user-select: none;
  
  .ListItem{
    position: relative;
    overflow: hidden;

    &:hover{
      background-color: #f5f5f5;
      cursor:pointer;
    }
    & + .ListItem{
      margin-top: 8px;
    }
    .ListLabel{
      position: absolute;
      width: 16px;
      transform: translateX(-8px);
      transition: transform 0.4s;
      height: 100%;
      background-color: $label-purple;
      svg{
        position: absolute;
        left: 0;
      }
      &:hover{
        transform: translateX(0px);
      }
    }
    .ListItemHead{
      display: flex;
      justify-content: space-between;
      padding: 8px 32px;

      .title{
        font-size: 14pt;
      }
      .set-label{
        font-family: $font-patua;
        padding: 4px 8px;
        background-color: #6fbe9c;
        border-radius: 7px;
        color: white;
      }
    }
    @media (max-width: 768px){
      .ListItemHead{
        padding: 8px 8px 8px 32px;
        .title{
          font-size: 12pt;
        }
        .set-label{
          font-size: 11pt;
        }
      }
    }
    
    .ListItemBody{
      padding: 8px 24px;
      overflow-x: hidden;
      max-width: 100%;
      .Tag-wrap{
        overflow-x: scroll;
        .Tag-box{
          display: inline-flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: center;
          .Tag{
            box-sizing: border-box;
            padding: 6px 8px;
            border-radius: 3px;
            color: white;
            background-color: $body-color;
            font-size: 10pt;
            white-space: nowrap;
            & + .Tag{
              margin-right: 8px;
            }
            &.square{
              flex: 0 0 20px;
              padding: 8px;
              width: 20px;
              height: 20px;
            }
          }
  
          @media (max-width: 768px){
            .Tag{
              font-size: 9pt;
            }
          }
        }
      }
    }
    @media (max-width: 768px){
      .ListItemBody{
        padding: 8px 8px 8px 24px;
      }
    }
    @media (min-width: 769px){
      .ListItemBody{
        .Tag-wrap{
          overflow-x: auto;
          /* width */
          &::-webkit-scrollbar {
            height: 6px;
            border-radius: 5px;
          }
    
          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1; 
            border-radius: 5px;
          }
    
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: rgba(0,0,0,0.08); 
            border-radius: 5px;
          }
    
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: rgba(0,0,0,0.16); 
            border-radius: 5px;
          }
        }
      }
    
    }
    @each $name, $color in $label-colors {
      &.#{$name} > .ListLabel { background-color: $color; color: $color }
      &.#{$name} .set-label { background-color: $color; }
      @for $i from 1 to 5 {
        &.#{$name} > .ListItemBody > .Tag-wrap > .Tag-box > .Tag:nth-child( n + #{$i}) { background-color: rgba($color, 0.5 + (0.1 * $i)) }
      }
    }
  }
}

@media (max-width: 768px){
  .WorkoutList{
    overflow-y: visible;
    padding: 32px 0;
  }
}

@media (min-width: 769px){
  .WorkoutList{
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.08); 
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0,0,0,0.16); 
      border-radius: 5px;
    }
  }
}