@import 'utils';

.calendar-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  .header{
    text-align: center;
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-size: 1.6em;
    .title{
      font-family: 'Patua One', cursive;
    }
    .btn-wrap{
      //background-color: #e0e0e0;
      font-size: 0;
      border-radius: 100%;
      &:active{
        background-color: #e0e0e0;
      }
    }
  }
  .calendar{
    tr{
      position: relative;
    }
    th, td{
      font-family: 'Patua One', cursive;
      width: calc(100% / 7 );
      text-align: center;
      position: relative;
      height: calc(100vw / 7);
      font-size: 1.6em;
    }
    td{
      //height: calc(100vw / 7);
      user-select: none;
      // &:hover{
      //   &::before{
      //     content: '';
      //     display: block;
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     bottom: 0;
      //     right: 0;
      //     margin: auto;
      //     width: 38px;
      //     height: 38px;
      //     background-color: rgba(0,0,0,0.16);
      //     border-radius: 100%;
      //   }
      // }
      &.color{
        span{
          z-index: 100;
        
        }
      }
      &.color::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 38px;
          height: 38px;
          background-color: white;
          border-radius: 100%;
          z-index: 99;

      }
      span{
        font-family: 'Patua One', cursive;
        position: relative;
        
      }
      
    }
    .colorpicker{
      position: absolute;
      left: 16px;
      right: 16px;
      height: 48px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      background-color: white;
      transform: translateY(56px);
      border-radius: 5px;
      z-index: 99;

    }
    th:first-child, td:first-child{
      color: $calendar-red;
    }
    th:last-child, td:last-child{
      color: $calendar-blue;
    }
    td.selected{
      color: white;
    }

    td.selected::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 38px;
      height: 38px;
      background-color: $theme;
      border-radius: 100%;
    }
    td.past{
      color: #e0e0e0;
    }
  }
}

.bg{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 98;
  &.on{
    display: block;
  }
}