
@import 'utils';

.bg{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 98;
}
.ColorPicker{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;

  padding: 8px 8px;
  z-index: 99;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  // height: 48px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

  .color{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #e0e0e0;
    &.selected::before{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      content: '✔';
      font-size: 16pt;
      color: white;
      background-color: rgba(0,0,0,0.4);
    }
    &.yellow{
      background-color: #FFC811;
    }
    &.blue {
      background-color: #1198FF;
    }
    &.red{
      background-color: #FF4444;
    }
    &.green{
      background-color: #1DC222;
    }
    &.purple{
      background-color: #F11993;
    }
    &.pink{
      background-color: pink;
    }
    & + .color{
      margin-left: 8px;
    }
  }
}