@import 'utils';

@media (min-width: 769px){

}
@media (max-width: 768px) {

}
.bg{
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  animation: bgFadeIn 0.5s;
  &.leave{
    animation: bgFadeOut 0.5s;
  }
}

.popup{
  position: fixed;
  z-index: 100;
  bottom: 8px;
  left: 8px;
  right: 8px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  animation: enter 0.5s;
  &.leave{
    animation: leave 0.5s;
  }
  .header{
    padding: 16px 0;
    font-size: 11pt;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    .title-name{
      font-size: 10pt;
      color: black;
    }
    .title-edit{
      border: none;
      border-bottom: 1px solid #f0f0f0;
      padding: 4px 8px;
      outline: none;
      &:focus{
        border-bottom: 1px solid $red1;
      }
    }
    .title-edit-btn{
      background-color: $red1;
      font-size: 0;
      border: none;
      padding: 8px;
      border-radius: 5px;
    }
  }
  .content{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    background-color: #f9f9f9;
    .item{
      // background-color: gray;
      display: flex;
      flex-direction: row;
      height: 90px;
      
      .item-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        // flex-basis: 50%;
        text-align: left;
        &.row{
          flex-direction: row;
        }
        .item-name{
          font-size: 10pt;
          margin-left: 16px;
          color: #2196F3;
          color: $red1;
        }
      }
    }
  }
  .footer{
    display: flex;
    
    .btn{
      width: 100%;
      padding: 16px 0;
      text-align: center;
      border: none;
      border-top: 1px solid #c0c0c0;
      background-color: #e0e0e0;
      &:active{
        background-color: #b0b0b0;
      }
    }
    .btn+.btn{
      border-left: 1px solid #b0b0b0;
    }
  }
}
@keyframes bgFadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes bgFadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes enter{
  0%{
    transform: translateY(300px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes leave{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(300px);
  }
}

label[for=weightToggle]{
  position: relative;
  background-color: white;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 16px;
  overflow: hidden;
  input[type=checkbox]{                         
    display: none;                                                                                           
    &:checked + .ball{
      transform: translateX(100%);
    }
    &:checked ~ .lbs {
      transform: translateX(0%);
    }
    &:checked ~ .kg {
      transform: translateX(100%);
    }
  }
  .kg{
    color: white;
    transform: translateX(0%);
  }
  .lbs{
    color: #2196F3;
    color: $red1;
    transform: translateX(-100%);
  }
  .ball{
    position: absolute;
    border-radius: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background-color: #2196F3;;
    background-color: $red1;
    transition: transform 0.4s;
  }
  .lbs, .kg{
    position: absolute;
    z-index: 3;
    text-align: center;
    left: 0;
    right: 0;
    top: 2px;
    bottom: 0;

    display: block;
    margin: auto;
    font-size: 8pt;
    padding: 0 2px;

    transition: transform 0.4s;
  }
  

}

.swiper-lense{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border: 1px solid #c0c0c0;
  height: 30px;
  width: 100%;
  &.horizon{
    width: 20%;
    left: 0;
    right:0;
  }
}

.slide-container{
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  &.horizon{
    height: 30px;
    width: 100%;
    flex-basis: 100%;
    .wrapper{
      height: 100%;
      display: flex;
      flex-direction: row;
      .slide{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10pt;
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        flex-basis: 20%;
      }
    }
  }
  .wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    .slide{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10pt;
      color: #d0d0d0;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 33.3%;
    }
  }
}