

@import 'utils';

@media (min-width: 769px){

}
@media (max-width: 768px) {

}


.bg{
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  animation: bgFadeIn 0.5s;
  &.leave{
    animation: bgFadeOut 0.5s;
  }
  
}
.popup{
  position: fixed;
  z-index: 100;
  bottom: 8px;
  left: 8px;
  right: 8px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  animation: enter 0.5s;
  &.leave{
    animation: leave 0.5s;
  }
  .header{
    padding: 16px 0;
    font-size: 11pt;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
  }
  .content{
    max-height: 220px;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    &.col{
      flex-direction: column;
    }
    .divide{
      width: 50%;
    }
    .item{
      display: flex;
      align-items: center;
      font-size: 10pt;
      border-bottom: 1px solid #f0f0f0;
      padding: 16px 12px;
      color: #bebebe;
      &.selected{
        color: $red1;
      }
      &:active{
        background-color: rgba(0,0,0,0.1);
      }
    }
    .fixed-lense{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 44px;
      width: 100%;

      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #2196F3;
      border-top: 1px solid #b0b0b0;
      border-bottom: 1px solid #b0b0b0;

      background-color: white;
      span{
        padding-left: 64px;
        font-size: 9pt;
      }
    }
    .slide-container{
      width:100%;
      .wrapper{
        height: 220px;
 
        
        .slide{
          //height: 50px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10pt;
          color: #d0d0d0;
        }
      }
      
    }
    
    
  }
  .footer{
    display: flex;
    
    .btn{
      width: 100%;
      padding: 16px 0;
      text-align: center;
      border: none;
      border-top: 1px solid #c0c0c0;
      background-color: #e0e0e0;
      &:active{
        background-color: #b0b0b0;
      }
    }
    .btn+.btn{
      border-left: 1px solid #b0b0b0;
    }
  }
}
@keyframes bgFadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes bgFadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes enter{
  0%{
    transform: translateY(300px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes leave{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(300px);
  }
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + span.item{
  color: $red1;
}
// #radio2:checked + span.item{
//   color: $red1;
// }