

@import 'utils';
.AddPopup {
  overflow: hidden;
  .bg{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    animation: bgFadeIn 0.5s;
    &.leave{
      animation: bgFadeOut 0.5s;
    }
  }


  .pane{
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    padding: 8px 16px;
    padding-bottom: 0;
    z-index: 100;
    animation: enter 0.5s;
    &.leave{
      animation: leave 0.5s;
    }
    .title-wrap {
      display: flex;
      padding: 8px 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      .name{
        font-size: 10pt;
        font-weight: bold;
      }
      
      input{
        border: none;
        border-bottom: 1px solid #f0f0f0;
        padding: 8px 16px;
        outline: none;
        &:focus{
          border-bottom: 1px solid $red1;
        }
      }
      .saveButton{
        background-color:#FF9800;
        color: white;
        font-size: 0;
        padding: 6px;
        outline: none;
        border: none;
        height: 100%;
        margin-left: 16px;
        border-radius: 4px;
        cursor: pointer;
 
        &:hover{
          background-color: #F57C00;
        }
        &:active{
          background-color: #E65100;

        }
      }
    }
    .record-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 8px 0;
      //border: 1px solid #f0f0f0;
      .count-button{
        background-color: transparent;
        border: none;
        padding: 0 8px;
        border: 1px solid #f0f0f0;
        font-size: 0;
        align-self: stretch;
        &:active{
          background-color: rgba(0,0,0,0.1);
        }
      }
      .title{
        font-size: 9pt;
        width: 80px;
      }
      .numberCounter{
        padding: 8px 16px;
        width: 100px;
        border: none;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        text-align: center;
      }
    }
    .button-wrap{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 48px;
      background-color: #f0f0f0;
      .addbutton{
        height: 100%;
        width: 100%;
          background-color: transparent;
        color: white;
        border: none;
        &.selected{
          background-color: $red1;
        }
      }
    }
  }
}

@keyframes bgFadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes bgFadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes enter{
  0%{
    transform: translateY(300px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes leave{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(300px);
  }
}