
@import 'utils';

.ItemList{
  width: 100%;
  .title{
    font-size: 11pt;
    color: #FF7043;
    font-weight: 500;
    padding: 12px 24px;
    border-bottom: 1px solid #f0f0f0;
  }

}

.Item {
  display: flex;
  justify-content: space-between;
  padding: 12px 32px;
  font-size: 10pt;
  border-bottom: 1px solid #f0f0f0;
  height: 48px;
  &:active{
    background-color: #f0f0f0;
  }
  .txt{
    font-size: 10pt;
    display: flex;
    align-items: center;
    color: #4b4b4b;
    &.sm{
      font-size: 10pt;
    }
    &.bold{
      font-weight: 500;
    }
  }
  .box{
    display: flex;
    align-items: center;
  }
}