@import url('https://fonts.googleapis.com/css?family=Patua+One');

@import 'utils';

@media (min-width: 1281px){

}
@media (max-width: 1280px) {

}

$red1 : #f15e4a;
$red2 : #de4a3e;
$red3 : #c64236;

.header-wrap{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #f15e4a;

  header{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .app-title{
      color: white;
      margin-left: 16px;
      font-size: 20pt;
      font-family: 'Patua One', cursive;
    }

    .login-wrap{
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      .login-button{
        background-color: transparent;
        border: none;
        font-size: 0;
        margin: 0;
        padding: 12px;
        border-radius: 100%;
        margin-right: 16px;
        user-select: none;
        outline: none;
        cursor: pointer;
        &:hover, &.active{
          background-color:rgba(0,0,0,0.1);
        }
      }
    }
  }
}

.dropdown{
  position: absolute;
  z-index: 99;
  top: 100%;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #f0f0f0;
  border-top: none;
  border-radius: 5px;
  font-size: 9pt;
  li{
    padding: 12px 24px;
    cursor: pointer;
    &:hover{
      background-color: rgba(99,99,99,0.1);
    }
  }
  li+li{
    border-top: 1px solid #f0f0f0;
  }
}
