$triceps: #E85BFF;
$biceps: #FF5B96;
$back: #00CE8C;
$shoulder: #8CA0E5;
$chest: #FF965B;
$abdominal: #947252;
$legs: #494f5f;

$category-colors: (
  triceps: $triceps,
  biceps: $biceps,
  back: $back,
  shoulder: $shoulder,
  chest: $chest,
  abdominal: $abdominal,
  legs: $legs
)